html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bg-container1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-image: url('assets/conference.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(20px);
  }

  .bg-container1::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.53);
  }

  .Content {
    position: relative;
    z-index: 2;
  }

  .roomOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    gap: 5rem;
  }